# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

*local.py

*.DS_Store
*.sass-cache/
*CACHE/

*/static/css/*
*/static/js/*

assets/css/*.css
assets/css/*.css.map

bower_components
node_modules
