{% verbatim %}
<script id="weekday-partial" type="x-tmpl-mustache">
  <div class="weekday-picker">
    <div class="day start" data-day="sunday"><span>S</span></div>
    <div class="day" data-day="monday"><span>M</span></div>
    <div class="day" data-day="tuesday"><span>T</span></div>
    <div class="day" data-day="wednesday"><span>W</span></div>
    <div class="day" data-day="thursday"><span>T</span></div>
    <div class="day" data-day="friday"><span>F</span></div>
    <div class="day end" data-day="saturday"><span>S</span></div>
  </div>
</script>
{% endverbatim %}