{% verbatim %}
<script id="weekday-partial" type="x-tmpl-mustache">
  <div class="weekday-picker">
    <div class="day start" title="Sunday" data-day="sunday"><span>S</span></div>
    <div class="day" title="Monday" data-day="monday"><span>M</span></div>
    <div class="day" title="Tuesday" data-day="tuesday"><span>T</span></div>
    <div class="day" title="Wednesday" data-day="wednesday"><span>W</span></div>
    <div class="day" title="Thursday" data-day="thursday"><span>T</span></div>
    <div class="day" title="Friday" data-day="friday"><span>F</span></div>
    <div class="day end" title="Saturday" data-day="saturday"><span>S</span></div>
  </div>
</script>
{% endverbatim %}