<div class="house-detail">
  <div class="row">
    <h1 ng-bind="house.name" class="small-centered small-12 columns"></h1>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h5 class="left" ng-bind="house.description"></h5>
      <span class="left edit-description fa fa-pencil"></span>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="chores-list small-12 small-centered large-uncentered large-6 columns">
      <h4>
        <span class="fa fa-cutlery"></span>
        Chores
        <a ng-clear-chore data-reveal-id="choreModal" href="#">
          <span class="add-chore fa fa-plus-circle" data-tooltip aria-haspopup="true" title="Add new chore"></span>
        </a>
      </h4>
      <ul>
        <li ng-edit-chore="{{ chore.id }}" data-reveal-id="choreModal" ng-repeat="chore in house.chores">
          {{ chore.name }}
        </li>
      </ul>
    </div>

    <div class="user-list small-12 small-centered large-uncentered large-offset-3 large-3 columns">
      <h4>
        <span class="fa fa-user"></span>
        Users
        <a data-reveal-id="userModal" href="#"><span class="add-user fa fa-plus-circle"></span></a>
      </h4>
      <ul>
      <li ng-repeat="user in house.users" class="user">{{ user.name }}</li>
      </ul>
    </div>

    <div id="choreModal" class="reveal-modal medium" data-reveal>
      <div class="row">
        <h3 class="small-12 columns">
          <span>{{ newChore.title }}</span>
        </h3>
      </div>
      <div class="row">
        <div class="alert-box alert" ng-class="{ hidden: !newChore.generalError }">{{ newChore.generalErrorMsg }}</div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label for="name">Name
            <input ng-save-chore="keypress" ng-model="newChore.model.name" ng-class="{ error: newChore.nameError }" type="text" name="name" placeholder="Enter name here..."></input>
          </label>
          <small class="error" ng-class="{ hidden: !newChore.nameError }">{{ newChore.nameErrorMsg }}</small>
        </div>
        <div class="large-6 columns">
          <label for="chore-users">Who is doing the chore?</label>
          <select ng-model="newChore.model.userId" ng-options="user.id as user.name for user in house.users" name="chore-users" placeholder="Enter name here...">
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label for="description">Description</label>
          <textarea ng-model="newChore.model.description" name="description" placeholder="(Optional) Enter description here..."></textarea>
        </div>
      </div>
      <div class="row">
        <div class="button-holder small-12 large-2 large-offset-8 columns">
          <a ng-delete-chore="{{ newChore.model.id }}" ng-class="{ hidden: !newChore.showDelete }" class="small-12 button alert" href="#">Delete</a>
        </div>
        <div class="button-holder small-12 large-2 columns">
          <a ng-save-chore="click" class="button small-12" href="#">Save</a>
        </div>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="userModal" class="reveal-modal small" data-reveal>
      <p>Enter the email address of the user you would like to add to the household. Once they confirm their spot you can begin assigning them to chores.</p>
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Enter email here..."></input>
      <a href="#" class="small-12 large-3 large-offset-9 columns button small invite-button">Send Invite</a>
    </div>

    <div id="areYouSureModal" class="reveal-modal small" data-reveal>
      <p>Are you sure you want to delete this chore?</p>
    </div>

  </div>

</div>

