<div class="house-detail">
  <div class="row">
    <h1 ng-bind="house.name" class="small-centered small-12 columns"></h1>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h5 class="left" ng-bind="house.description"></h5>
      <span class="left edit-description fa fa-pencil"></span>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="chores-list small-12 small-centered large-uncentered large-8 columns">
      <h4>
        <span class="fa fa-cutlery"></span>
        Chores
        <a ng-clear="chore" data-reveal-id="choreModal" href="#">
          <span class="add-chore fa fa-plus-circle" data-tooltip aria-haspopup="true" title="Add new chore"></span>
        </a>
      </h4>
      <table ng-show="house.chores">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Assigned to</th>
          </tr>
        </thead>
        <tbody>
          <tr class="chore-row" ng-edit-chore="{{ chore.id }}" data-reveal-id="choreModal" ng-repeat="chore in house.chores">
            <td>{{ chore.name }}</td>
            <td>{{ chore.description }}</td>
            <td>{{ chore.user.name }}</td>
          </tr>
        </tbody>
      </table>
      <p ng-hide="house.chores">You don't have any chores.</p>
    </div>

    <div class="user-list small-12 small-centered large-uncentered large-offset-1 large-3 columns">
      <h4>
        <span class="fa fa-user"></span>
        Members
        <a ng-clear="member" data-reveal-id="userModal" href="#"><span class="add-user fa fa-plus-circle"></span></a>
      </h4>
      <table>
        <tr ng-repeat="user in house.members" class="user">
          <td>{{ user.name }}</td>
        </tr>
      </table>
    </div>

    <div id="choreModal" class="reveal-modal small" data-reveal>
      <div class="row">
        <h3 class="small-12 columns">
          <span>{{ newChore.title }}</span>
        </h3>
      </div>
      <div class="row">
        <div class="alert-box alert" ng-class="{ hidden: !newChore.generalError }">{{ newChore.generalErrorMsg }}</div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label for="name">Name
            <input ng-save-chore="keypress" ng-model="newChore.model.name" ng-class="{ error: newChore.nameError }" type="text" name="name" placeholder="Enter name here..."></input>
          </label>
          <small class="error" ng-class="{ hidden: !newChore.nameError }">{{ newChore.nameErrorMsg }}</small>
        </div>
        <div class="large-6 columns">
          <label for="chore-users">Who is doing the chore?</label>
          <select ng-model="newChore.model.userId" ng-options="user.id as user.name for user in house.members" name="chore-users" placeholder="Enter name here...">
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label for="description">Description</label>
          <textarea ng-model="newChore.model.description" name="description" placeholder="(Optional) Enter description here..."></textarea>
        </div>
      </div>
      <div class="right">
        <a ng-delete-chore="{{ newChore.model.id }}" ng-class="{ hidden: !newChore.showDelete }" class="button alert" href="#">Delete</a>
        <a ng-save-chore="click" class="right button" href="#">Save</a>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="userModal" class="reveal-modal small" data-reveal>
      <h3>Invite Member</h3>
      <div class="row">
        <label for="email">
          Email
          <input ng-add-member="keypress" ng-class="{ error: newMember.model.generalError }" ng-model="newMember.model.email" type="email" name="email" placeholder="Enter email here..."></input>
          <small class="error" ng-class="{ hidden: !newMember.model.generalError }">{{ newMember.model.generalErrorMsg }}</small>
        </label>
      </div>
      <a ng-add-member="click" href="#" class="small-12 large-3 large-offset-9 columns button tiny invite-button">Send Invite</a>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="areYouSureModal" class="reveal-modal small" data-reveal>
      <p>Are you sure you want to delete this chore?</p>
    </div>

  </div>

</div>

