<modal-init/>
<div class="members" ng-modal-close>
  <div class="row setup-flow">
    <h1 class="small-10 small-offset-1 large-10 large-offset-1 columns">
      {{ house.name }} is a great name, probably.
    </h1>
  </div>

  <div class="subheading row setup-flow">
    <h5 class="small-10 small-offset-1 large-10 large-offset-1 columns">
      Now it's time to invite your groovy household members. Whether they are family, friends, robots, everyone is welcome!
    </h5>
  </div>

  <div class="row">
    <div ng-show="house.members" class="members-list small-10 small-offset-1 large-4 large-offset-4 columns">
      <ul>
        <li ng-repeat="member in house.members">
          {{ member.name }}
        </li>
      </ul>
    </div>
  </div>

  <div class="add-member-button row">
    <a href="#" data-reveal-id="userModal" class="button small success radius small-10 small-offset-1 large-2 large-offset-5">Invite Member</a>
  </div>

  <a href="#" ng-click="back()" class="button radius secondary small-10 small-offset-1 large-2 large-offset-2"><span class="fa fa-arrow-circle-left"></span> Back</a>
  <a href="#" ng-click="next()" class="button radius small-10 small-offset-1 large-2 large-offset-4">Next Step <span class="fa fa-arrow-circle-right"></span></a>
</div>

<div id="userModal" class="reveal-modal small" data-reveal>
  <h3>Invite Member</h3>
  <div class="row">
    <label for="email">
      Email
      <input ng-add-member="keypress" ng-class="{ error: newMember.errors }" ng-model="newMember.email" type="email" name="email" placeholder="Enter email here..."></input>
      <small class="error" ng-show="newMember.errors.msg">{{ newMember.errors.msg }}</small>
    </label>
  </div>
  <a ng-click="addMember(newMember)" href="#" class="small-12 large-3 large-offset-9 columns button small invite-button">Send Invite</a>
  <a class="close-reveal-modal">&#215;</a>
</div>