<div class="weekday-picker weekday">
  <div class="day start" ng-class="{ selected: day == 'sunday'}" title="Sunday" data-day="sunday">S</div>
  <div class="day" ng-class="{ selected: day == 'monday'}" title="Monday" data-day="monday">M</div>
  <div class="day" ng-class="{ selected: day == 'tuesday'}" title="Tuesday" data-day="tuesday">T</div>
  <div class="day" ng-class="{ selected: day == 'wednesday'}" title="Wednesday" data-day="wednesday">W</div>
  <div class="day" ng-class="{ selected: day == 'thursday'}" title="Thursday" data-day="thursday">T</div>
  <div class="day" ng-class="{ selected: day == 'friday'}" title="Friday" data-day="friday">F</div>
  <div class="day end" ng-class="{ selected: day == 'saturday'}" title="Saturday" data-day="saturday">S</div>
</div>
