$main-blue: #12181E
$main-white: #eee
$primary-green: #43AC6A

body
  background: $main-blue
  height: 100%

  h1, h2, h3, h4, h5, p, span, label
    color: $main-white

  h1, h2, h3, h4, h5
    text-transform: uppercase
    font-weight: bold

  h1
    font-size: 40px

  h2
    font-size: 30px

  h3
    font-size: 25px

  h4
    font-size: 20px

  li
    color: #eee

span.fa
  margin-right: 10px

p
  .small-description
    font-size: 15px

.reveal-modal
  h1, h2, h3, h4, h5, p, span, label
    color: #333

.panel
  background: #eee
  opacity: 0.8

  --webkit-border-radius: 10px
  --moz-border-radius: 10px
  border-radius: 10px

.top-bar
  background: $main-blue

.top-bar-section ul li a
  background: $main-blue

.top-bar-section ul li
  background: $main-blue

.top-bar-section li:not(.has-form) a:not(.button)
  &:hover
    background: $main-blue
  background: $main-blue

.hidden
  display: none

.error
  color: red

.next-page
  text-align: center

  .button
    font-size: 20px

  .fa
    font-size: 30px
    margin-left: 5px
    vertical-align: bottom

.welcome
  margin: 5% auto 5% auto

  p
    font-size: 30px
    text-align: center

  .house-input
    margin-top: 10px

.house-detail

  h3
    text-align: center

  .add-chore
    color: $primary-green
    border-bottom: none

#login

  #header
    width: 700px
    margin: 0 auto
    padding-top: 100px

    h1
      font-weight: bold
      text-align: center
      font-size: 50px

    .login-button
      padding: 20px
      background: #000
      opacity: 0.7
      width: 170px
      margin: 40px auto

      border-radius: 10px

