$main-blue: #12181E
$main-white: #eee

body
  background: $main-blue
  height: 100%

  h1, h2, h3, h4, h5, p, span, label
    color: $main-white

.top-bar
  background: $main-blue

.top-bar-section ul li a
  background: $main-blue

.top-bar-section ul li
  background: $main-blue

.top-bar-section li:not(.has-form) a:not(.button)
  &:hover
    background: $main-blue
  background: $main-blue


.next-page
  text-align: center

  .button
    font-size: 20px

  .fa
    font-size: 30px
    margin-left: 5px
    vertical-align: bottom

.welcome
  margin: 5% auto 5% auto
  text-align: center

  p
    font-size: 30px

  .house-input
    margin-top: 10px

#login

  #header
    width: 700px
    margin: 0 auto
    padding-top: 100px

    h1
      font-weight: bold
      text-align: center
      font-size: 50px

    .login-button
      padding: 20px
      background: #000
      opacity: 0.7
      width: 170px
      margin: 40px auto

      border-radius: 10px

