<html {% block html_attrs %}{% endblock %}>
<meta name="viewport" content="initial-scale=1.0">
  {% load compressed %}
  <title {% block title_bind %}{% endblock %}>{% block title %}Chores{% endblock %}</title>
  <script type="text/javascript">
    window.APP_ID = {{ APP_ID }}
  </script>

  {% include 'partials/dates.html' %}

  {% block styles %}
    {% compressed_css 'app' %}
  {% endblock %}
  {% block extra_styles %}{% endblock %}
</meta>
<body>
  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
    {% compressed_js 'app' %}
  {% endblock %}
  {% block extra_scripts %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  <div id="confirm-modal" class="reveal-modal confirm-modal small" data-reveal>
    <h3>Confirm</h3>
    <div class="row">
      <p class="message"></p>
    </div>
    <a href="#" class="small-12 large-3 large-offset-6 columns button secondary cancel">Cancel</a>
    <a href="#" class="small-12 large-3 columns button okay">Okay</a>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</body>
</html>