{% load compressed %}

<html {% block html_attrs %}{% endblock %}>
<meta>
  <title {% block title_bind %}{% endblock %}>{% block title %}Chores{% endblock %}</title>
  <script type="text/javascript">
    window.APP_ID = {{ APP_ID }}
  </script>
  {% block styles %}
    {% compressed_css 'app' %}
  {% endblock %}
  {% block extra_styles %}{% endblock %}
</meta>
<body>
  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block scripts %}
    {% compressed_js 'app' %}
  {% endblock %}
  {% block extra_scripts %}{% endblock %}

  {% block footer %}
  {% endblock %}
</body>
</html>