{% extends 'base.html' %}

{% block content %}
  <div class="confirmation-page">
    <div class="row">
      <div class="small-12 large-8 large-offset-2 end">
        <h1>You have a request to join a household</h1>
      </div>
      <div class="small-12 large-8 large-offset-2 end">
        <h3>It looks like <span class="owner">{{ owner }}</span> seems to think you need a little reminder now and then to clean up after yourself. What a jerk!</h3>
      </div>
    </div>

    <div class="row">

      <div class="small-12">
        <a href="#">Join <span class="household">{{ household }}</span></a>
      </div>

    </div>
  </div>
{% endblock %}