{% extends 'base.html' %}

{% block content %}

  <div id="login">

    <div id="header">
      <h1>Stop being a little bitch.</h1>
      <h1>Do your chores.
      <div class="login-button">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="xlarge">
        </fb:login-button>
      </div>
    <div>

    <div id="status">
    </div>



  </div>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
    APP_ID = {{ settings.APP_ID }}
  </script>
{% endblock %}