{% extends 'base.html' %}

{% block extra_scripts %}
  <script>
    $(function () {
      $('input[name="login-button"]').click(function (e) {
        e.preventDefault();
        $.post('/login/', {
          email: $('input[name="first_name"]').val(),
          password: $('input[name="last_name"]').val(),
          normal_auth: 'ya sucka'
        }, function (result) {
          if (!result.success) {
            $('.error').show().text(result.msg)
          }
          else {
            window.location = '/';
          }
        }, 'json');
      });
    });
  </script>
{% endblock %}

{% block content %}

  <div id="login">

    <div class="row">
      <div class="small-12 large-8 large-offset-2" id="header">
        <h1>Stop being a little bitch.</h1>
        <h1>Do your chores.</h1>
      </div>
      <div class="login-box small-12 large-8 large-offset-2 columns">
        <div class="row">
          <div class="signup-form small-12 large-6 columns">
            <h3>Login</h3>
            <form action="." method="POST">
              <label for="email">
                Email
                <input type="text" name="first_name" placeholder="Enter your email..."></input>
              </label>
              <label for="password">
                Password
                <input type="password" name="last_name" placeholder="Enter your password..."></input>
              </label>
              <div class="alert-box alert error" style="display: none;"></div>
              <a href="/signup" class="signup-button small-12 large-4 large-offset-4 columns">Sign Up</a>
              <input type="submit" name="login-button" class="button success small-12 large-4 columns small" value="Login"></input>
            </form>
          </div>

          <div class="facebook-side small-12 large-6 columns">

            <div class="divider small-12 large-2 columns">
              <div class="divide"></div>
              <div class="or">
                OR
              </div>
              <div class="divide"></div>
            </div>

            <div class="facebook-login-button">
              <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="xlarge">
              </fb:login-button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
